
.col1, .col2, .col3, .cols, .col1a, .col2a, .colsa { float:left;}

.col1{ width:683px; position:relative;}
.col2{ width:277px;}
.col2a{ width:365px;}
.cols{ width:190px;}
.colsa{ width:215px;}
.col1a{ width:595px;}
/*======= index.html =======*/
/*======= index-1.html =======*/
#page2 .marg_right1{ margin-right:10px;}
#page2 .pad_bot3{ padding-bottom:20px;}
#page2 #content{ padding-bottom:64px;}
/*======= index-2.html =======*/
#page3 #content{ padding-bottom:62px;}
/*======= index-3.html =======*/
#page4 #content{ padding-bottom:63px;}
/*======= index-4.html =======*/
#page5 #content{ padding-bottom:62px;}
/*======= index-5.html =======*/
#page6 .pad_bot3{ padding-bottom:20px;}
#page6 #content{ padding-bottom:52px;}
/*======= index-6.html =======*/
