.acyicon-16-acylist {background-image:url(../images/icons/icon-16-acylist.png); background-position:11px;}
.acyicon-16-new {background-image:url(../images/icons/icon-16-acynew.png); background-position:11px;}
.acyicon-16-autonewsletter {background-image:url(../images/icons/icon-16-autonewsletter.png); background-position:11px;}
.acyicon-16-stats {background-image:url(../images/icons/icon-16-stats.png); background-position:11px;}
.acyicon-16-newsletter {background-image:url(../images/icons/icon-16-newsletter.png); background-position:11px;}
.acyicon-16-queue {background-image:url(../images/icons/icon-16-process.png); background-position:11px;}
.acyicon-16-template {background-image:url(../images/icons/icon-16-acytemplate.png); background-position:11px;}
.acyicon-16-campaign {background-image:url(../images/icons/icon-16-campaign.png); background-position:11px;}
.acyicon-16-config {background-image:url(../images/icons/icon-16-acyconfig.png);background-position:11px;}
.acyicon-16-export {background-image:url(../images/icons/icon-16-acyexport.png); background-position:11px;}
.acyicon-16-import {background-image:url(../images/icons/icon-16-import.png); background-position:11px;}
.acyicon-16-update {background-image:url(../images/icons/icon-16-update.png); background-position:11px;}
.acyicon-16-fields {background-image:url(../images/icons/icon-16-fields.png); background-position:11px;}
.acyicon-16-filter {background-image:url(../images/icons/icon-16-filter.png); background-position:11px;}
.acyicon-16-users {background-image:url(../images/icons/icon-16-users.png); background-position:11px;}
.acyicon-16-bounces {background-image:url(../images/icons/icon-16-bounces.png); background-position:11px;}


#acymenutop{
	font-size:11px;
	line-height:20px;
	font-weight:normal;
	height:20px;
	}

#acymenutop ul{
	list-style:none;
	margin:0;
	padding:0;
	}

#acymenutop > ul > li {
float:left;
margin:0px 1px;
}

#acymenutop li a {
display:block;
line-height:20px;
padding:0 3px 0 32px;
text-decoration:none;
background-repeat:no-repeat;
}
#acymenutop li:hover ul a {
color:#069;
}

#acymenutop li ul {
border:1px solid #ccc;
background:#f4f4f4;
display:none;
height:auto;
position:absolute;
z-index:200;
padding:3px;
padding-top:4px;
}

#acymenutop li:hover ul {
display:block;
}
#acymenutop li li {
display:block;
float:none;
}

#acymenutop li .acysubmenu{
	*background-color:#fff;}


#acymenutop li ul a {
display:block;
font-style:normal;
font-weight:normal;
text-align:left;
background-position:5px 50%;
border-bottom:1px dotted #ccc;
padding-left:25px;
padding-right:15px;
min-width:75px;
margin-right:2px;
margin-left:2px;
background-color:#fff;
}

#acymenutop li ul a:hover {
background-color:#8da3b0;
color:#ffffff;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}

#acymenutop li:hover a{
	color:#fff;}
	
#acymenutop ul li.acymainmenu ul{
-webkit-border-top-right-radius:5px;
   -moz-border-top-right-radius:5px;
        border-top-right-radius:5px;
-webkit-border-top-left-radius:0px;
   -moz-border-top-left-radius:0px;
        border-top-left-radius:0px;
-webkit-border-bottom-right-radius:5px;
   -moz-border-bottom-right-radius:5px;
        border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
   -moz-border-bottom-left-radius:5px;
        border-bottom-left-radius:5px;}

/*******parentmenu********/

#acymenutop .parentmenu {
padding-right:15px;
background:url(../images/arrow_acymenu.png) no-repeat;
background-position:right 8px;
}
#acymenutop .parentmenu:hover{
background-color:#8da3b0;
-webkit-border-top-left-radius:5px;
   -moz-border-top-left-radius:5px;
        border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
   -moz-border-top-right-radius:5px;
        border-top-right-radius:5px;
background-position:right -5px;
}

/*******selecteddmenu********/

#acymenutop #acyselectedmenu{
    background-color:#8da3b0;
	background-position:right -5px;
		-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;}
   
#acymenutop #acyselectedmenu:hover{
    background-color:#8da3b0;
	background-position:right -5px;
	*background-position:right -4px;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
-webkit-border-bottom-right-radius:0px;
   -moz-border-bottom-right-radius:0px;
        border-bottom-right-radius:0px;
-webkit-border-bottom-left-radius:0px;
   -moz-border-bottom-left-radius:0px;
        border-bottom-left-radius:0px;
   }

#acyselectedmenu a{
	color:#fff;
	}

/*******singlemenu********/

#acymenutop .singlemenu a{
padding-right:10px;
}

#acymenutop .singlemenu:hover{
background-color:#8da3b0;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}

#acymenutop #acyselectedmenu.singlemenu:hover{
background-color:#8da3b0;
-webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}

	
	